.Buckets {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* see notes below */
    grid-gap: 1rem;
}

.Section--buckets:nth-of-type(2) {
    display: none;
}

.Buckets--item {
    background: white;
    color: var(--darkGrey);
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: var(--borderRadius);
}

.Buckets--image {
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.Buckets--image img {
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
}

.Buckets--text {
    display: grid;
    align-items: stretch;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr)); /* see notes below */
    padding: 2rem;
}

.Buckets--heading {}

.Buckets--desc {}

