.footer {
  padding: 2rem 0;
  background: rgb(13,13,13);
  background: linear-gradient(-10deg, rgba(13,13,13,1) 0%, rgba(13,13,13,1) 20%, #278e6b 100%);
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.55rem;
}

.footer a {
  color: white;
  text-decoration: unset;
}

.Footer--grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-flow: dense;
  height: inherit;
}