.usp {
    background: white;
    color: var(--darkGrey);
    overflow: hidden;
    height: 80vh;
    padding: 0;
}

.usp .container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-flow: dense;
    height: inherit;
}

.usp--image {
    max-height: 60vw;
    max-width: 60vw;
    border-radius: 100%;
    border: 5vw solid var(--highlight);
    transform: translate(10vw, -20vw);
}

.usp:nth-of-type(2n - 1) .container .usp--image-wrapper {
    grid-column-start: 1;
}

.usp:nth-of-type(2n - 1) .container .usp--image-wrapper .usp--image {
    transform: translate(-30vw, -20vw);
}

.usp:nth-of-type(2n - 1) .container .usp--text {
    grid-column-start: 2;
}


.usp--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

@media screen and (max-width: 899px) {
    .usp {
        height: auto;
    }
    .usp:nth-of-type(2n - 1) .container .usp--image-wrapper .usp--image,
    .usp .container .usp--image-wrapper .usp--image {
        max-width: unset;
        border-radius: var(--borderRadius);
        width: 100%;
        height: auto;
        transform: none;
        border: none;
        object-fit: cover;
        max-height: 30vh;
    }
    .usp .container {
        max-height: unset;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .usp .usp--image-wrapper {
        display: none;
    }
    .usp--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: 3rem 0;
    }
    /* .usp .container .usp--image-wrapper {
        grid-column-start: unset;
    }
    .usp .container .usp--text {
        grid-column-start: unset;
    }     */
}

.usp--header {
    position: relative;
}

.usp--list {
    font-weight: bold;
    list-style: none;
    padding-left: 0;
}

