.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(.5);
  transform-origin: left;
  align-items: center;
  justify-content: center;
  transition: transform .25s ease-out;
  height: inherit;
  max-height: 10vh;
}

.Nav--Wrapper-inView .Logo {
  transform: scale(.8);
  transition: transform .25s ease-in;
}

.Logo--Link {
  height: inherit;
  overflow: hidden;
}