.PageHeader {
  background-color: var(--darkGrey);
  color: var(--darkGrey);
  padding: 15rem 0;
  height: 100vh;
  /* background: rgb(13,13,13);
  background: linear-gradient(340deg, rgba(13,13,13,1) 0%, rgba(39,142,96,1) 100%); */
}

.PageHeader.home, .PageHeader.home .Content {
  color: white;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
  background-position: 15%;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: clamp(2rem, 4rem, 7vw);
  margin-bottom: 3rem;
  line-height: 1.2;
}

.PageHeader--Title--White {
  color: white;
}

.PageHeader--Title--White.highlight:after {
  background-color: var(--primary);
}

.PageHeader--Subtitle {
  margin-bottom: 5rem;
  font-weight: 400;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

.PageHeader--Buttonwrap *:first-child {
  margin-right: 6rem;
}

.PaheHeader--Headercontainer {
  width: 100%;
  max-width: max(500px, 50%);
}



/* @media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
  .PageHeader--Title {
    font-size: 4rem;
    margin-bottom: 0;
    max-width: 100%;
  }
} */
