.Pricing {
    background: white;
    color: var(--darkGrey);
}

.Pricing h1 {
    padding-top: 10vw;
}

.Pricing table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.Pricing tr {
    transition: background-color .5s ease, color .5s ease;
}

.Pricing tr:first-of-type {
    height: 8rem;
}

.Pricing th {
    font-size: 2rem;
}

.Pricing th:first-of-type {
    text-align: center;
}

.Pricing th div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.Pricing th span {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.Pricing th svg {
    max-height: 5rem;
}

.Pricing tr td svg {
    height: 2.5rem;
    padding-top: .5rem;
}

.Pricing tr td svg path {
    transition: fill .5s ease;
    fill: #2E8D6C;
}

.Pricing tr td {
    padding: 1rem;
    border-spacing: 0;
}

.Pricing tr td:first-child {
    font-weight: bold;
}

.Pricing tr td:not(:first-child) {
    text-align: center;
}

.Pricing tr:nth-of-type(2n) {
    background: var(--lightGrey);
}

.Pricing tr:not(:first-of-type):hover {
    background-color: var(--darkGrey);
    color: white;
}

.Pricing tr:not(:first-of-type):hover svg path {
    fill: white;
}

.Pricing--choices {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: auto;
}

.Pricing--selection {
    background: white;
    color: var(--darkGrey);
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: var(--borderRadius);
    box-shadow: 0 3px 7px rgba(0,0,0,0.2);
    text-align: center;
}

.Pricing--selection--title {
    background: var(--lightGrey);
    padding: 2rem;
    height: 15rem;
}

.Pricing--selection--title > p {
    max-width: 75%;
    display: block;
    margin: auto;
}

.Pricing--selection h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.Pricing--selection h3 span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.Pricing--selection svg {
    max-height: 5rem;
}

.Pricing--selection__basic {}
.Pricing--selection__premium {}
.Pricing--selection__advanced {}

.Pricing--selection p {
}

.Pricing--selection .price {
    text-align: center;
    margin-bottom: 0;
    font-size: 3rem;
}

.Pricing--selection span {
    font-size: 1.25rem;
}

.Pricing--selection--price {
    display: grid;
    align-items: stretch;
    grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr)); /* see notes below */
    padding: 3rem 2rem 4rem;
}

.Pricing--selection--price .button {
    display: block;
    max-width: fit-content;
    margin: auto;
}